## Creating the dataframes and cleaning the data

In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

import geopy # geopy is a Python 2 and 3 client for several popular geocoding web services
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

Paths to my Github were I uploaded the data from the official sources in https://www.seguridadbc.gob.mx/contenidos/estadisticas3.php

In [2]:
path19 = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/crime_Tijuana_2019'
path18 = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/crime_Tijuana_2018'
path17 = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/crime_Tijuana_2017'
path16 = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/crime_Tijuana_2016'
path15 = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/crime_Tijuana_2015'
path14 = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/crime_Tijuana_2014'

In [3]:
df_can19 = pd.read_excel(path19, index_col=False)
df_can18 = pd.read_excel(path18, index_col=False)
df_can17 = pd.read_excel(path17, index_col=False)
df_can16 = pd.read_excel(path16, index_col=False)
df_can15 = pd.read_excel(path15, index_col=False)
df_can14 = pd.read_excel(path14, index_col=False)

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

Checking the first rows of each dataframe

In [4]:
df_can19.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO
0,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,VILLA DEL REAL III,01/01/19,31/12/18,19:00,TIJUANA
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,01/01/19,02:00,TIJUANA
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),TRES DE OCTUBRE,01/01/19,01/01/19,02:39,TIJUANA
3,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,EMPERADORES,01/01/19,01/01/19,02:00,TIJUANA
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,31/12/18,23:21,TIJUANA

In [5]:
df_can18.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO
0,ROBO CON VIOLENCIA A COMERCIO,ROBO CON VIOLENCIA A COMERCIO,LOS VALLES,01/01/18,31/12/17,18:30,TIJUANA
1,LESIONES INTENCIONALES,LESIONES DOLOSAS,EJIDO LAZARO CARDENAS,01/01/18,31/12/17,20:10,TIJUANA
2,LESIONES INTENCIONALES,LESIONES DOLOSAS,TOMAS AQUINO,01/01/18,01/01/18,01:30,TIJUANA
3,ROBO CON VIOLENCIA A COMERCIO,ROBO CON VIOLENCIA A COMERCIO,ALBA ROJA,01/01/18,31/12/17,23:34,TIJUANA
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,EL LAUREL,01/01/18,01/01/18,01:10,TIJUANA

In [6]:
df_can17.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO
0,ROBO CON VIOLENCIA A COMERCIO,ROBO CON VIOLENCIA A COMERCIO,INFONAVIT LOMAS VERDES,01/01/17,31/12/16,19:02,TIJUANA
1,ROBO CON VIOLENCIA A COMERCIO,ROBO CON VIOLENCIA A COMERCIO,LOMAS DE LA PRESA,01/01/17,31/12/16,19:30,TIJUANA
2,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,RES SANTA FE V,01/01/17,31/12/16,21:10,TIJUANA
3,ROBO CON VIOLENCIA A COMERCIO,ROBO CON VIOLENCIA A COMERCIO,SAN LUIS,01/01/17,31/12/16,19:00,TIJUANA
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,BENTON,01/01/17,01/01/17,00:45,TIJUANA

In [7]:
df_can16.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO
0,HOMICIDIO CALIFICADO (VIOLENTO),HOMICIDIO CALIFICADO (VIOLENTO),JALISCO,2016-01-01 00:00:00,2016-01-01 00:00:00,14:40,TIJUANA
1,ROBO DE VEHICULO,ROBO DE VEHICULO,BUENOS AIRES SUR,2016-01-01 00:00:00,2016-01-01 00:00:00,00:30,TIJUANA
2,LESIONES CULPOSAS,LESIONES CULPOSAS,LAS HUERTAS CUARTA SECCION,2016-01-01 00:00:00,2016-01-01 00:00:00,00:00,TIJUANA
3,ROBO EN CASA HABITACION,ROBO EN CASA HABITACION,SALVATIERRA,2016-01-01 00:00:00,2016-01-01 00:00:00,08:30,TIJUANA
4,HOMICIDIO CALIFICADO (VIOLENTO),HOMICIDIO CALIFICADO (VIOLENTO),SONOITA,2016-01-08 00:00:00,2016-01-08 00:00:00,19:20:00,TIJUANA

In [8]:
df_can15.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL DELITO,FECHA DEL REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO
0,HOMICIDIO CALIFICADO (VIOLENTO),HOMICIDIO CALIFICADO (VIOLENTO),AEROPUERTO,2015-01-01 00:00:00,01/01/2015,02:30,TIJUANA
1,HOMICIDIO CALIFICADO (VIOLENTO),HOMICIDIO CALIFICADO (VIOLENTO),VASO DE LA PRESA,2015-01-01 00:00:00,01/01/2015,14:20,TIJUANA
2,ROBO EN CASA HABITACION,ROBO EN CASA HABITACION,MIRAMAR,2015-01-01 00:00:00,31/12/2014,22:30,TIJUANA
3,ROBO SIMPLE,ROBO SIMPLE (EN VIA PUBLICA),ZONA CENTRO,2015-01-01 00:00:00,01/01/2015,02:40,TIJUANA
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,SAN ANTONIO,2015-01-01 00:00:00,01/01/2015,01:49,TIJUANA

In [9]:
df_can14.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO
0,HOMICIDIO CALIFICADO (VIOLENTO),HOMICIDIO CALIFICADO (VIOLENTO),CERRO COLORADO,2014-01-01 00:00:00,2014-01-01 00:00:00,01:40,TIJUANA
1,HOMICIDIO CALIFICADO (VIOLENTO),HOMICIDIO CALIFICADO (VIOLENTO),VALLE IMPERIAL,2014-01-01 00:00:00,2014-01-01 00:00:00,07:55,TIJUANA
2,ROBO EN GRADO DE TENTATIVA,OTROS ROBOS SIN VIOLENCIA,ZONA CENTRO,2014-01-01 00:00:00,2014-01-01 00:00:00,00:00,TIJUANA
3,LESIONES INTENCIONALES,LESIONES DOLOSAS,NUEVO MILENIO,2014-01-01 00:00:00,2014-01-01 00:00:00,11:45,TIJUANA
4,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),ZONA NORTE,2014-01-01 00:00:00,2014-01-01 00:00:00,00:00,TIJUANA

In [10]:
df_can19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21691 entries, 0 to 21690
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DELITO                        21691 non-null  object
 1   CLASIFICACION DEL DELITO      21691 non-null  object
 2   COLONIA DEL HECHO             21690 non-null  object
 3   FECHA DE REGISTRO DEL DELITO  21691 non-null  object
 4   FECHA DEL HECHO DEL DELITO    21691 non-null  object
 5   HORA DEL HECHO DEL DELITO     21690 non-null  object
 6   MUNICIPIO                     21687 non-null  object
dtypes: object(7)
memory usage: 1.2+ MB

In [11]:
df_can18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22729 entries, 0 to 22728
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DELITO                        22729 non-null  object
 1   CLASIFICACION DEL DELITO      22729 non-null  object
 2   COLONIA DEL HECHO             22729 non-null  object
 3   FECHA DE REGISTRO DEL DELITO  22729 non-null  object
 4   FECHA DEL HECHO DEL DELITO    22729 non-null  object
 5   HORA DEL HECHO DEL DELITO     22728 non-null  object
 6   MUNICIPIO                     22729 non-null  object
dtypes: object(7)
memory usage: 1.2+ MB

In [12]:
df_can17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28217 entries, 0 to 28216
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DELITO                        28217 non-null  object
 1   CLASIFICACION DEL DELITO      28217 non-null  object
 2   COLONIA DEL HECHO             28217 non-null  object
 3   FECHA DE REGISTRO DEL DELITO  28217 non-null  object
 4   FECHA DEL HECHO DEL DELITO    28217 non-null  object
 5   HORA DEL HECHO DEL DELITO     28210 non-null  object
 6   MUNICIPIO                     28216 non-null  object
dtypes: object(7)
memory usage: 1.5+ MB

In [13]:
df_can16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24386 entries, 0 to 24385
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DELITO                        24386 non-null  object
 1   CLASIFICACION DEL DELITO      24386 non-null  object
 2   COLONIA DEL HECHO             24376 non-null  object
 3   FECHA DE REGISTRO DEL DELITO  24386 non-null  object
 4   FECHA DEL HECHO DEL DELITO    24386 non-null  object
 5   HORA DEL HECHO DEL DELITO     24385 non-null  object
 6   MUNICIPIO                     24385 non-null  object
dtypes: object(7)
memory usage: 1.3+ MB

In [14]:
df_can15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23703 entries, 0 to 23702
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DELITO                         23703 non-null  object
 1   CLASIFICACION DEL DELITO       23703 non-null  object
 2   COLONIA DEL DELITO             23670 non-null  object
 3   FECHA DEL REGISTRO DEL DELITO  23703 non-null  object
 4   FECHA DEL HECHO DEL DELITO     23703 non-null  object
 5   HORA DEL HECHO DEL DELITO      23703 non-null  object
 6   MUNICIPIO                      23703 non-null  object
dtypes: object(7)
memory usage: 1.3+ MB

In [15]:
df_can14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28376 entries, 0 to 28375
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DELITO                        28376 non-null  object
 1   CLASIFICACION DEL DELITO      28376 non-null  object
 2   COLONIA DEL HECHO             28376 non-null  object
 3   FECHA DE REGISTRO DEL DELITO  28376 non-null  object
 4   FECHA DEL HECHO DEL DELITO    28376 non-null  object
 5   HORA DEL HECHO DEL DELITO     28255 non-null  object
 6   MUNICIPIO                     28376 non-null  object
dtypes: object(7)
memory usage: 1.5+ MB

Putting together all the dataframes of each year in only one

In [107]:
all_dfs = [df_can19, df_can18, df_can17, df_can16, df_can15 , df_can14]

# Give all df's common column names
for df in all_dfs:
    df.columns = ['DELITO','CLASIFICACION DEL DELITO', 'COLONIA DEL HECHO', 'FECHA DE REGISTRO DEL DELITO', 'FECHA DEL HECHO DEL DELITO', 'HORA DEL HECHO DEL DELITO', 'MUNICIPIO']

df = pd.concat(all_dfs).reset_index(drop=True)

In [108]:
df.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO
0,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,VILLA DEL REAL III,01/01/19,31/12/18,19:00,TIJUANA
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,01/01/19,02:00,TIJUANA
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),TRES DE OCTUBRE,01/01/19,01/01/19,02:39,TIJUANA
3,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,EMPERADORES,01/01/19,01/01/19,02:00,TIJUANA
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,31/12/18,23:21,TIJUANA

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149102 entries, 0 to 149101
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   DELITO                        149102 non-null  object
 1   CLASIFICACION DEL DELITO      149102 non-null  object
 2   COLONIA DEL HECHO             149058 non-null  object
 3   FECHA DE REGISTRO DEL DELITO  149102 non-null  object
 4   FECHA DEL HECHO DEL DELITO    149102 non-null  object
 5   HORA DEL HECHO DEL DELITO     148971 non-null  object
 6   MUNICIPIO                     149096 non-null  object
dtypes: object(7)
memory usage: 8.0+ MB

Saving the Dataframe of all year in a CSV file, which I uploaded to my Github

In [20]:
df.to_csv("crime_tijuana_from_2014_to_2019.csv", index=False)

In [21]:
path = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/crime_tijuana_from_2014_to_2019.csv'

In [22]:
df2 = pd.read_csv(path)

In [23]:
df2.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO
0,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,VILLA DEL REAL III,01/01/19,31/12/18,19:00,TIJUANA
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,01/01/19,02:00,TIJUANA
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),TRES DE OCTUBRE,01/01/19,01/01/19,02:39,TIJUANA
3,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,EMPERADORES,01/01/19,01/01/19,02:00,TIJUANA
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,31/12/18,23:21,TIJUANA

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149102 entries, 0 to 149101
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   DELITO                        149102 non-null  object
 1   CLASIFICACION DEL DELITO      149102 non-null  object
 2   COLONIA DEL HECHO             149058 non-null  object
 3   FECHA DE REGISTRO DEL DELITO  149102 non-null  object
 4   FECHA DEL HECHO DEL DELITO    149102 non-null  object
 5   HORA DEL HECHO DEL DELITO     148971 non-null  object
 6   MUNICIPIO                     149096 non-null  object
dtypes: object(7)
memory usage: 8.0+ MB

# Transforming the dates rows to datetime format

In [25]:
df2['FECHA DEL DELITO'] = pd.to_datetime(df2['FECHA DEL HECHO DEL DELITO'])
df2.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,FECHA DEL HECHO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO,FECHA DEL DELITO
0,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,VILLA DEL REAL III,01/01/19,31/12/18,19:00,TIJUANA,2018-12-31
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,01/01/19,02:00,TIJUANA,2019-01-01
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),TRES DE OCTUBRE,01/01/19,01/01/19,02:39,TIJUANA,2019-01-01
3,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,EMPERADORES,01/01/19,01/01/19,02:00,TIJUANA,2019-01-01
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,31/12/18,23:21,TIJUANA,2018-12-31

Deleting the columns that repeat

In [26]:
df3 = df2.drop(df.columns[[4]], axis=1) 
df3.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO,FECHA DEL DELITO
0,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),TRES DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01
3,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31

In [27]:
df3['day_of_week'] = df3['FECHA DEL DELITO'].dt.day_name()
df3.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO,FECHA DEL DELITO,day_of_week
0,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),TRES DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday
3,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday

In [28]:
df3['year']= df3['FECHA DEL DELITO'].dt.year
df3['month']= df3['FECHA DEL DELITO'].dt.month
df3['day']= df3['FECHA DEL DELITO'].dt.day
df3.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO,FECHA DEL DELITO,day_of_week,year,month,day
0,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),TRES DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1
3,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31

In [29]:
df3['HORA'] = pd.to_datetime(df3['HORA DEL HECHO DEL DELITO'], format='%H:%M', errors='coerce').dt.hour

In [30]:
df3.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO,FECHA DEL DELITO,day_of_week,year,month,day,HORA
0,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),TRES DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,ROBO DE VEHÍCULO,ROBO DE VEHÍCULO,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

Checking for missing data

In [31]:
missing_data = df3.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

DELITO
False    149102
Name: DELITO, dtype: int64

CLASIFICACION DEL DELITO
False    149102
Name: CLASIFICACION DEL DELITO, dtype: int64

COLONIA DEL HECHO
False    149058
True         44
Name: COLONIA DEL HECHO, dtype: int64

FECHA DE REGISTRO DEL DELITO
False    149102
Name: FECHA DE REGISTRO DEL DELITO, dtype: int64

HORA DEL HECHO DEL DELITO
False    148971
True        131
Name: HORA DEL HECHO DEL DELITO, dtype: int64

MUNICIPIO
False    149096
True          6
Name: MUNICIPIO, dtype: int64

FECHA DEL DELITO
False    149102
Name: FECHA DEL DELITO, dtype: int64

day_of_week
False    149102
Name: day_of_week, dtype: int64

year
False    149102
Name: year, dtype: int64

month
False    149102
Name: month, dtype: int64

day
False    149102
Name: day, dtype: int64

HORA
False    136120
True      12982
Name: HORA, dtype: int64

Deleting the rows with missing data

In [32]:
df3.dropna(subset=["HORA DEL HECHO DEL DELITO"], axis=0, inplace=True)
df3.dropna(subset=["MUNICIPIO"], axis=0, inplace=True)
df3.dropna(subset=["COLONIA DEL HECHO"], axis=0, inplace=True)
df3.dropna(subset=["HORA"], axis=0, inplace=True)

In [33]:
missing_data = df3.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

DELITO
False    136085
Name: DELITO, dtype: int64

CLASIFICACION DEL DELITO
False    136085
Name: CLASIFICACION DEL DELITO, dtype: int64

COLONIA DEL HECHO
False    136085
Name: COLONIA DEL HECHO, dtype: int64

FECHA DE REGISTRO DEL DELITO
False    136085
Name: FECHA DE REGISTRO DEL DELITO, dtype: int64

HORA DEL HECHO DEL DELITO
False    136085
Name: HORA DEL HECHO DEL DELITO, dtype: int64

MUNICIPIO
False    136085
Name: MUNICIPIO, dtype: int64

FECHA DEL DELITO
False    136085
Name: FECHA DEL DELITO, dtype: int64

day_of_week
False    136085
Name: day_of_week, dtype: int64

year
False    136085
Name: year, dtype: int64

month
False    136085
Name: month, dtype: int64

day
False    136085
Name: day, dtype: int64

HORA
False    136085
Name: HORA, dtype: int64

# Cheking format of neighborhoods

The Mariano Matamoros Centro neighborhood has not coordinates available in google or other  online, so I renamed  it as the closest neighborhood, in this case Mariano Matamoros.

I couldn't find the coordinates of the Tres de octubre neighborhood, the problem was the "Tres", so I changed it to the number 3.

The Obrera seccion 1 and Fraccionamiento Natura neighborhoods had the same problem as Mariano Matamoros Centro, the same process was done, in this case the closest neighborhood is Obrera and Fraccionamiento Hacienda las Delicias.

The division between Sanchez Taboada Produsta and Sanchez Taboada neighborhoods is non-existent this 2 are always taken as one, so I did the same.

In [34]:
df3['COLONIA DEL HECHO'] = df3['COLONIA DEL HECHO'].replace({'MARIANO MATAMOROS CENTRO':'MARIANO MATAMOROS'})
df3['COLONIA DEL HECHO'] = df3['COLONIA DEL HECHO'].replace({'TRES DE OCTUBRE':'3 DE OCTUBRE'})
df3['COLONIA DEL HECHO'] = df3['COLONIA DEL HECHO'].replace({'OBRERA SECC I':'OBRERA'})
df3['COLONIA DEL HECHO'] = df3['COLONIA DEL HECHO'].replace({'OBRERA II SECCION':'OBRERA'})
df3['COLONIA DEL HECHO'] = df3['COLONIA DEL HECHO'].replace({'FRACC NATURA':'FRACC HCDA LAS DELICIAS'})
df3['COLONIA DEL HECHO'] = df3['COLONIA DEL HECHO'].replace({'SANCHEZ TABOADA PRODUTSA':'SANCHEZ TABOADA'})
df3['CLASIFICACION DEL DELITO'] = df3['CLASIFICACION DEL DELITO'].replace({'ROBO DE VEHÍCULO':'ROBO DE VEHICULO'})
df3['CLASIFICACION DEL DELITO'] = df3['CLASIFICACION DEL DELITO'].replace({'ROBO DE VEHÍCULO CON VIOLENCIA':'ROBO DE VEHICULO CON VIOLENCIA'})
df3['DELITO'] = df3['DELITO'].replace({'ROBO DE VEHÍCULO':'ROBO DE VEHICULO'})

Erasing the white space in the cells

In [35]:
df3['CLASIFICACION DEL DELITO'] = df3['CLASIFICACION DEL DELITO'].map(lambda x: x.strip())

In [36]:
df3['COLONIA DEL HECHO'] = df3['COLONIA DEL HECHO'].map(lambda x: x.strip())

In [37]:
df3['DELITO'] = df3['DELITO'].map(lambda x: x.strip())

In [38]:
df3.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO,FECHA DEL DELITO,day_of_week,year,month,day,HORA
0,ROBO DE VEHICULO,ROBO DE VEHICULO,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,ROBO DE VEHICULO,ROBO DE VEHICULO,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

Saving the Dataframe of all year in a CSV file, which I uploaded to my Github

In [110]:
df3.to_csv("Clean_crime_tijuana_from_2014_to_2019.csv", index=False)

In [40]:
path2 = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/Clean_crime_tijuana_from_2014_to_2019.csv'

In [41]:
test = pd.read_csv(path2)

In [42]:
test.head()

,DELITO,CLASIFICACION DEL DELITO,COLONIA DEL HECHO,FECHA DE REGISTRO DEL DELITO,HORA DEL HECHO DEL DELITO,MUNICIPIO,FECHA DEL DELITO,day_of_week,year,month,day,HORA
0,ROBO DE VEHICULO,ROBO DE VEHICULO,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,ROBO DE VEHICULO,ROBO DE VEHICULO,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

# Translating to english

In [43]:
test.rename(columns={'DELITO':'CRIME'}, inplace=True)
test.rename(columns={'CLASIFICACION DEL DELITO':'CRIME CLASSIFICATION'}, inplace=True)
test.rename(columns={'COLONIA DEL HECHO':'NEIGHBORHOOD OF THE CRIME'}, inplace=True)
test.rename(columns={'FECHA DE REGISTRO DEL DELITO':'DATE OF RECORD OF THE CRIME'}, inplace=True)
test.rename(columns={'HORA DEL HECHO DEL DELITO':'TIME OF THE CRIME'}, inplace=True)
test.rename(columns={'FECHA DEL DELITO':'DATE OF THE CRIME'}, inplace=True)
test.rename(columns={'HORA':'Hour'}, inplace=True)

In [44]:
test.head()

,CRIME,CRIME CLASSIFICATION,NEIGHBORHOOD OF THE CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
0,ROBO DE VEHICULO,ROBO DE VEHICULO,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,ROBO CALIFICADO A CASA HABITACIÓN,ROBO EN CASA HABITACION,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,ROBO CON VIOLENCIA,ROBO CON VIOLENCIA (EN VIA PUBLICA),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,ROBO DE VEHICULO,ROBO DE VEHICULO,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,LESIONES INTENCIONALES,LESIONES DOLOSAS,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

In [45]:
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO DE VEHICULO':'VEHICLE THEFT'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO EN CASA HABITACION':'RESIDENTIAL BURGLARY'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'LESIONES DOLOSAS':'UNLAWFUL WOUNDING'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'OTROS ROBOS SIN VIOLENCIA':'OTHERS THEFTS WITHOUT VIOLENCE'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO CON VIOLENCIA A COMERCIO':'THEFT WITH VIOLENCE TO A BUSINESS'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO CON VIOLENCIA (EN VIA PUBLICA)':'THEFT WITH VIOLENCE(IN PUBLIC AREAS)'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'LESIONES CULPOSAS':'MALICIOUS WOUNDING'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'HOMICIDIO CALIFICADO (VIOLENTO)':'HOMICIDE(VIOLENT)'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO SIMPLE (EN VIA PUBLICA)':'SIMPLE THEFT(IN PUBLIC AREAS)'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO DE VEHICULO CON VIOLENCIA':'THEFT OF VEHICLE WITH VIOLENCE'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO A COMERCIO':'THEFT TO A BUSINESS'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'OTROS ROBOS CON VIOLENCIA':'OTHERS THEFTS WITH VIOLENCE'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO CON VIOLENCIA A CASA':'RESIDENTIAL BURGLARY WITH VIOLENCE'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'SECUESTRO':'KIDNAPPING'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO A BANCO':'BANK THEFT'})
test['CRIME CLASSIFICATION'] =test['CRIME CLASSIFICATION'].replace({'ROBO A BANCO SIN VIOLENCIA':'BANK THEFT WITHOUT VIOLENCE'})

In [46]:
test.head()

,CRIME,CRIME CLASSIFICATION,NEIGHBORHOOD OF THE CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
0,ROBO DE VEHICULO,VEHICLE THEFT,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,ROBO CALIFICADO A CASA HABITACIÓN,RESIDENTIAL BURGLARY,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,ROBO CON VIOLENCIA,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,ROBO DE VEHICULO,VEHICLE THEFT,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,LESIONES INTENCIONALES,UNLAWFUL WOUNDING,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

In [47]:
test = test.drop(test.columns[[0]], axis=1) 
test.head()

,CRIME CLASSIFICATION,NEIGHBORHOOD OF THE CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
0,VEHICLE THEFT,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,RESIDENTIAL BURGLARY,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,VEHICLE THEFT,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,UNLAWFUL WOUNDING,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

Cheking for years that not make sense

In [48]:
year= test['year'].value_counts()
year_count = year.to_frame()

In [49]:
year_count = year_count.reset_index()
year_count.head(17)

   index   year
0   2014  28411
1   2017  28115
2   2018  22588
3   2016  22257
4   2019  21167
5   2015  13545
6   2022      1
7   2006      1

In [50]:
test[test['year'] == 2022]

,CRIME CLASSIFICATION,NEIGHBORHOOD OF THE CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
50234,HOMICIDE(VIOLENT),CAMINO VERDE,22/03/17,23:46,TIJUANA,2022-03-17,Thursday,2022,3,17,23.0

In [51]:
test[test['year'] == 2006]

,CRIME CLASSIFICATION,NEIGHBORHOOD OF THE CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
48941,HOMICIDE(VIOLENT),SANCHEZ TABOADA,06/03/17,22:30,TIJUANA,2006-06-17,Saturday,2006,6,17,22.0

In [52]:
test = test.drop(50234)

In [53]:
test[test['year'] == 2022]

Empty DataFrame
Columns: [CRIME CLASSIFICATION, NEIGHBORHOOD OF THE CRIME, DATE OF RECORD OF THE CRIME, TIME OF THE CRIME, MUNICIPIO, DATE OF THE CRIME, day_of_week, year, month, day, Hour]
Index: []

In [54]:
test = test.drop(48941)

In [55]:
test[test['year'] == 2006]

Empty DataFrame
Columns: [CRIME CLASSIFICATION, NEIGHBORHOOD OF THE CRIME, DATE OF RECORD OF THE CRIME, TIME OF THE CRIME, MUNICIPIO, DATE OF THE CRIME, day_of_week, year, month, day, Hour]
Index: []

In [56]:
test = test.reset_index()
del test['index']

In [57]:
missing_data = test.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

CRIME CLASSIFICATION
False    136083
Name: CRIME CLASSIFICATION, dtype: int64

NEIGHBORHOOD OF THE CRIME
False    136082
True          1
Name: NEIGHBORHOOD OF THE CRIME, dtype: int64

DATE OF RECORD OF THE CRIME
False    136083
Name: DATE OF RECORD OF THE CRIME, dtype: int64

TIME OF THE CRIME
False    136083
Name: TIME OF THE CRIME, dtype: int64

MUNICIPIO
False    136083
Name: MUNICIPIO, dtype: int64

DATE OF THE CRIME
False    136083
Name: DATE OF THE CRIME, dtype: int64

day_of_week
False    136083
Name: day_of_week, dtype: int64

year
False    136083
Name: year, dtype: int64

month
False    136083
Name: month, dtype: int64

day
False    136083
Name: day, dtype: int64

Hour
False    136083
Name: Hour, dtype: int64

In [58]:
test.dropna(subset=["NEIGHBORHOOD OF THE CRIME"], axis=0, inplace=True)

In [59]:
missing_data = test.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

CRIME CLASSIFICATION
False    136082
Name: CRIME CLASSIFICATION, dtype: int64

NEIGHBORHOOD OF THE CRIME
False    136082
Name: NEIGHBORHOOD OF THE CRIME, dtype: int64

DATE OF RECORD OF THE CRIME
False    136082
Name: DATE OF RECORD OF THE CRIME, dtype: int64

TIME OF THE CRIME
False    136082
Name: TIME OF THE CRIME, dtype: int64

MUNICIPIO
False    136082
Name: MUNICIPIO, dtype: int64

DATE OF THE CRIME
False    136082
Name: DATE OF THE CRIME, dtype: int64

day_of_week
False    136082
Name: day_of_week, dtype: int64

year
False    136082
Name: year, dtype: int64

month
False    136082
Name: month, dtype: int64

day
False    136082
Name: day, dtype: int64

Hour
False    136082
Name: Hour, dtype: int64

In [60]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136082 entries, 0 to 136082
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CRIME CLASSIFICATION         136082 non-null  object
 1   NEIGHBORHOOD OF THE CRIME    136082 non-null  object
 2   DATE OF RECORD OF THE CRIME  136082 non-null  object
 3   TIME OF THE CRIME            136082 non-null  object
 4   MUNICIPIO                    136082 non-null  object
 5   DATE OF THE CRIME            136082 non-null  object
 6   day_of_week                  136082 non-null  object
 7   year                         136082 non-null  int64
 8   month                        136082 non-null  int64
 9   day                          136082 non-null  int64
 10  Hour                         136082 non-null  float64
dtypes: float64(1), int64(3), object(7)
memory usage: 12.5+ MB

In [61]:
test.head()

,CRIME CLASSIFICATION,NEIGHBORHOOD OF THE CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
0,VEHICLE THEFT,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,RESIDENTIAL BURGLARY,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,VEHICLE THEFT,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,UNLAWFUL WOUNDING,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

Saving the Dataframe of all year in a CSV file, which I uploaded to my Github

In [62]:
test.to_csv("ENGLISH_Clean_crime_tijuana_from_2014_to_2019.csv", index=False)

In [63]:
path4 = 'https://raw.githubusercontent.com/victor-onofre/Capstone-Project/master/Crime%20data/ENGLISH_Clean_crime_tijuana_from_2014_to_2019.csv'

In [64]:
test4 = pd.read_csv(path4)

In [65]:
test4.head()

,CRIME CLASSIFICATION,NEIGHBORHOOD OF THE CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
0,VEHICLE THEFT,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,RESIDENTIAL BURGLARY,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,VEHICLE THEFT,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,UNLAWFUL WOUNDING,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

In [66]:
test4.rename(columns={'CRIME CLASSIFICATION':'CRIME_CLASSIFICATION'}, inplace=True)

In [67]:
test4.rename(columns={'NEIGHBORHOOD OF THE CRIME':'NEIGHBORHOOD_OF_THE_CRIME'}, inplace=True)

In [68]:
test4.head()

,CRIME_CLASSIFICATION,NEIGHBORHOOD_OF_THE_CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
0,VEHICLE THEFT,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0
1,RESIDENTIAL BURGLARY,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
2,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
3,VEHICLE THEFT,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
4,UNLAWFUL WOUNDING,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0

## Making dataframe of the most violent neighborhoods

Making a new dataframe with only the crime classification with the words "WITH VIOLENCE", "VIOLENT" and "MALICIOUS WOUNDING"

In [69]:
df_Violence = test4[(test4.CRIME_CLASSIFICATION.str.contains('WITH VIOLENCE'))| (test4.CRIME_CLASSIFICATION.str.contains('VIOLENT')) | (test4.CRIME_CLASSIFICATION.str.contains('MALICIOUS WOUNDING'))]
df_Violence.head()

,CRIME_CLASSIFICATION,NEIGHBORHOOD_OF_THE_CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
2,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
5,HOMICIDE(VIOLENT),SANCHEZ TABOADA,01/01/19,01:25,TIJUANA,2019-01-01,Tuesday,2019,1,1,1.0
9,HOMICIDE(VIOLENT),3 DE OCTUBRE,06/01/19,20:41,TIJUANA,2019-05-01,Wednesday,2019,5,1,20.0
10,THEFT WITH VIOLENCE(IN PUBLIC AREAS),RIO TIJUANA TERCERA ETAPA,02/01/19,21:05,TIJUANA,2019-02-01,Friday,2019,2,1,21.0
11,THEFT WITH VIOLENCE TO A BUSINESS,RIO TIJUANA TERCERA ETAPA,05/01/19,17:55,TIJUANA,2019-05-01,Wednesday,2019,5,1,17.0

In [70]:
df_Violence.shape

(42862, 11)

In [71]:
dfViolence = df_Violence.dropna()
dfViolence.isnull().sum().sum()

0

In [72]:
df_Violence = df_Violence.reset_index()
del df_Violence['index']

In [73]:
df_Violence.head()

,CRIME_CLASSIFICATION,NEIGHBORHOOD_OF_THE_CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour
0,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0
1,HOMICIDE(VIOLENT),SANCHEZ TABOADA,01/01/19,01:25,TIJUANA,2019-01-01,Tuesday,2019,1,1,1.0
2,HOMICIDE(VIOLENT),3 DE OCTUBRE,06/01/19,20:41,TIJUANA,2019-05-01,Wednesday,2019,5,1,20.0
3,THEFT WITH VIOLENCE(IN PUBLIC AREAS),RIO TIJUANA TERCERA ETAPA,02/01/19,21:05,TIJUANA,2019-02-01,Friday,2019,2,1,21.0
4,THEFT WITH VIOLENCE TO A BUSINESS,RIO TIJUANA TERCERA ETAPA,05/01/19,17:55,TIJUANA,2019-05-01,Wednesday,2019,5,1,17.0

In [74]:
df_Violence.to_csv("Violent_CRIME_CLASSIFICATION_tijuana_from_2014_to_2019.csv", index=False)

In [140]:
NEIGHBORHOOD_MORE_VIOLENCE  = df_Violence['NEIGHBORHOOD_OF_THE_CRIME'].value_counts().reset_index()

In [141]:
NEIGHBORHOOD_MORE_VIOLENCE.head(15)

                                   index  NEIGHBORHOOD_OF_THE_CRIME
0                            ZONA CENTRO                       1502
1                      MARIANO MATAMOROS                       1033
2                ZONA URBANA RIO TIJUANA                        863
3                           CAMINO VERDE                        544
4                MARIANO MATAMOROS NORTE                        500
5   EL FLORIDO PRIMERA Y SEGUNDA SECCION                        496
6                          NUEVA TIJUANA                        491
7                              EL PIPILA                        476
8              RIO TIJUANA TERCERA ETAPA                        471
9                                LA MESA                        436
10                 EJIDO FRANCISCO VILLA                        392
11                            ZONA NORTE                        377
12                       SANCHEZ TABOADA                        376
13                            LAS TORRES                        367
14                               EL RUBI                        357

In [142]:
NEIGHBORHOOD_MORE_VIOLENCE.tail()

,index,NEIGHBORHOOD_OF_THE_CRIME
2080,LEY DEL REGISTRO CIVIL,1
2081,KILOMETRO 151+600 DE LA CARRETERA 1630 MEXICAL...,1
2082,TERRAZAS LA MORITA,1
2083,CENTAURO,1
2084,NATURA SECC. ARBOLEDAS,1

In [143]:
to_drop3= np.arange(102, 2085)
for ii in to_drop3:
        NEIGHBORHOOD_MORE_VIOLENCE = NEIGHBORHOOD_MORE_VIOLENCE.drop([ii], axis=0)

In [144]:
NEIGHBORHOOD_MORE_VIOLENCE.tail()

                  index  NEIGHBORHOOD_OF_THE_CRIME
97        CIUDAD JARDIN                        101
98             ALTAMIRA                        100
99   GUADALUPE VICTORIA                         97
100              ALEMAN                         96
101              CAMPOS                         94

In [145]:
NEIGHBORHOOD_MORE_VIOLENCE.rename(columns={'NEIGHBORHOOD_OF_THE_CRIME':'counts'}, inplace=True)

In [146]:
NEIGHBORHOOD_MORE_VIOLENCE.rename(columns={'index':'NEIGHBORHOOD_OF_THE_CRIME'}, inplace=True)

In [147]:
NEIGHBORHOOD_MORE_VIOLENCE.tail()

    NEIGHBORHOOD_OF_THE_CRIME  counts
97              CIUDAD JARDIN     101
98                   ALTAMIRA     100
99         GUADALUPE VICTORIA      97
100                    ALEMAN      96
101                    CAMPOS      94

# Coordinates of neighborhoods

In [148]:
NEIGHBORHOOD_MORE_VIOLENCE['ADDRESS'] = NEIGHBORHOOD_MORE_VIOLENCE['NEIGHBORHOOD_OF_THE_CRIME'].astype(str) + ',' + \
                 'Tijuana' + ',' + \
                 'Mexico'

In [149]:
NEIGHBORHOOD_MORE_VIOLENCE.tail()

    NEIGHBORHOOD_OF_THE_CRIME  counts                            ADDRESS
97              CIUDAD JARDIN     101       CIUDAD JARDIN,Tijuana,Mexico
98                   ALTAMIRA     100            ALTAMIRA,Tijuana,Mexico
99         GUADALUPE VICTORIA      97  GUADALUPE VICTORIA,Tijuana,Mexico
100                    ALEMAN      96              ALEMAN,Tijuana,Mexico
101                    CAMPOS      94              CAMPOS,Tijuana,Mexico

In [150]:
locator = Nominatim(user_agent="vonofre68@gmail.com")
location = locator.geocode("S/D,Tijuana,Mexico")

In [151]:
print(location.address)
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Mexico, Calle Francisco J Mujica, Otay Constituyentes, Misiones de Pedregal Fraccionamiento, Tijuana, Municipio de Tijuana, Baja California, 22457, México
Latitude = 32.5294237, Longitude = -116.9462364

Looking for the coordinates of each neigborhood

In [152]:
# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# 2- - create location column
NEIGHBORHOOD_MORE_VIOLENCE['location'] =  NEIGHBORHOOD_MORE_VIOLENCE['ADDRESS'].apply(geocode)
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
NEIGHBORHOOD_MORE_VIOLENCE['point'] =  NEIGHBORHOOD_MORE_VIOLENCE['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# 4 - split point column into latitude, longitude and altitude columns
NEIGHBORHOOD_MORE_VIOLENCE[['latitude', 'longitude', 'altitude']] = pd.DataFrame(NEIGHBORHOOD_MORE_VIOLENCE['point'].tolist(), index= NEIGHBORHOOD_MORE_VIOLENCE.index)

RateLimiter caught an error, retrying (0/2 tries). Called with (*('BUENOS AIRES NORTE,Tijuana,Mexico',), **{}).
Traceback (most recent call last):
  File "/home/onofre/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/home/onofre/anaconda3/lib/python3.7/http/client.py", line 1252, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/home/onofre/anaconda3/lib/python3.7/http/client.py", line 1298, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/home/onofre/anaconda3/lib/python3.7/http/client.py", line 1247, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/home/onofre/anaconda3/lib/python3.7/http/client.py", line 1026, in _send_output
    self.send(msg)
  File "/home/onofre/anaconda3/lib/python3.7/http/client.py", line 966, in send
    self.connect()
  File "/home/onofre/anaconda3/lib/python3.7/http/client.py", line 1414, in connect
    super().connect()
  File "/home/onofre/anaconda3/lib/python3.7/http/client.py", line 938, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/home/onofre/anaconda3/lib/python3.7/socket.py", line 728, in create_connection
    raise err
  File "/home/onofre/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
OSError: [Errno 101] Network is unreachable

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/onofre/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/home/onofre/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/home/onofre/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/home/onofre/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/home/onofre/anaconda3/lib/python3.7/urllib/request.py", line 1362, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/home/onofre/anaconda3/lib/python3.7/urllib/request.py", line 1321, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error [Errno 101] Network is unreachable>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/onofre/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/home/onofre/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/home/onofre/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 380, in _call_geocoder
    raise GeocoderUnavailable('Service not available')
geopy.exc.GeocoderUnavailable: Service not available

In [153]:
NEIGHBORHOOD_MORE_VIOLENCE.tail(50)

,NEIGHBORHOOD_OF_THE_CRIME,counts,ADDRESS,location,point,latitude,longitude,altitude
52,ZONA RIO,163,"ZONA RIO,Tijuana,Mexico","(Zona Urbana Río Tijuana, Tijuana, Municipio d...","(32.52963695, -117.01986845015388, 0.0)",32.529637,-117.019868,0.0
53,LOS SANTOS,162,"LOS SANTOS,Tijuana,Mexico",None,None,NaN,NaN,NaN
54,URBIVILLA DEL PRADO,160,"URBIVILLA DEL PRADO,Tijuana,Mexico",None,None,NaN,NaN,NaN
55,EL DORADO RESIDENCIAL,158,"EL DORADO RESIDENCIAL,Tijuana,Mexico","(Autopista Tijuana-Ensenada, Costa Coronado Re...","(32.5140884, -117.1096189, 0.0)",32.514088,-117.109619,0.0
56,EJIDO CHILPANCINGO,158,"EJIDO CHILPANCINGO,Tijuana,Mexico","(Calle Ejido Chilpancingo, Valencia, Jardín Do...","(32.5150341, -116.9028488, 0.0)",32.515034,-116.902849,0.0
57,VILLA DEL ALAMO,155,"VILLA DEL ALAMO,Tijuana,Mexico","(Villa del Alamo, El Porvenir, San Luis, Munic...","(32.4337319, -116.94340113729231, 0.0)",32.433732,-116.943401,0.0
58,GARITA DE OTAY,154,"GARITA DE OTAY,Tijuana,Mexico","(Boulevard Garita de Otay, Otay Vista, Misione...","(32.5255214, -116.9339484, 0.0)",32.525521,-116.933948,0.0
59,EJIDO OJO DE AGUA,153,"EJIDO OJO DE AGUA,Tijuana,Mexico","(Ejido Ojo de Agua, El Florido, Ejido Maclovio...","(32.4753187, -116.788711, 0.0)",32.475319,-116.788711,0.0
60,URBIVILLA DEL PRADO 2,152,"URBIVILLA DEL PRADO 2,Tijuana,Mexico",None,None,NaN,NaN,NaN
61,EL TECOLOTE,152,"EL TECOLOTE,Tijuana,Mexico","(Calle Tecolote, El Escondido, Planicie, Tijua...","(32.5530058, -116.8816674, 0.0)",32.553006,-116.881667,0.0
62,SECCION JARDINES PLAYAS DE TIJUANA,148,"SECCION JARDINES PLAYAS DE TIJUANA,Tijuana,Mexico",None,None,NaN,NaN,NaN
63,LAZARO CARDENAS,144,"LAZARO CARDENAS,Tijuana,Mexico","(Lázaro Cárdenas, Tijuana, Municipio de Tijuan...","(32.5266021, -117.0986317, 0.0)",32.526602,-117.098632,0.0
64,OTAY UNIVERSIDAD,142,"OTAY UNIVERSIDAD,Tijuana,Mexico","(Otay Universidad, Tijuana, Municipio de Tijua...","(32.52722345, -116.97483435569566, 0.0)",32.527223,-116.974834,0.0
65,VILLA DEL REAL I,141,"VILLA DEL REAL I,Tijuana,Mexico",None,None,NaN,NaN,NaN
66,INDEPENDENCIA,140,"INDEPENDENCIA,Tijuana,Mexico","(Independencia, 18 de Marzo, El Porvenir, Tiju...","(32.4779492, -116.937688, 0.0)",32.477949,-116.937688,0.0
67,PORTICOS DE SAN ANTONIO,139,"PORTICOS DE SAN ANTONIO,Tijuana,Mexico","(Pórticos de San Antonio, Municipio de Tijuana...","(32.4406334, -117.0322012, 0.0)",32.440633,-117.032201,0.0
68,PRESIDENTES,139,"PRESIDENTES,Tijuana,Mexico","(INFONAVIT Presidentes, El Porvenir, Tijuana, ...","(32.49070405, -116.90635142395871, 0.0)",32.490704,-116.906351,0.0
69,EMPERADORES,137,"EMPERADORES,Tijuana,Mexico","(Emperadores, Misiones de Pedregal Fraccionami...","(32.4864045, -116.9663788, 0.0)",32.486404,-116.966379,0.0
70,LOS REYES,136,"LOS REYES,Tijuana,Mexico",None,None,NaN,NaN,NaN
71,CAÑADAS DEL FLORIDO,136,"CAÑADAS DEL FLORIDO,Tijuana,Mexico",None,None,NaN,NaN,NaN
72,EJIDO LAZARO CARDENAS,134,"EJIDO LAZARO CARDENAS,Tijuana,Mexico",None,None,NaN,NaN,NaN
73,AVIACION,130,"AVIACION,Tijuana,Mexico","(Aviación, Misiones de Pedregal Fraccionamient...","(32.5134672, -117.0083679, 0.0)",32.513467,-117.008368,0.0
74,SALVATIERRA,129,"SALVATIERRA,Tijuana,Mexico","(Salvatierra, Tijuana, Municipio de Tijuana, B...","(32.4829489, -117.0720732, 0.0)",32.482949,-117.072073,0.0
75,LOMAS DEL MATAMOROS,123,"LOMAS DEL MATAMOROS,Tijuana,Mexico",None,None,NaN,NaN,NaN
76,EL MIRADOR,120,"EL MIRADOR,Tijuana,Mexico","(El Mirador, Altiplano 5ta, Villa del Sol Cuar...","(32.5157821, -116.8356843, 0.0)",32.515782,-116.835684,0.0
77,RESIDENCIAL DEL BOSQUE,120,"RESIDENCIAL DEL BOSQUE,Tijuana,Mexico",None,None,NaN,NaN,NaN
78,LA JOYA,119,"LA JOYA,Tijuana,Mexico","(La Joya, Municipio de Tijuana, Baja Californi...","(32.4448306, -117.0033708, 0.0)",32.444831,-117.003371,0.0
79,SANTA FE,118,"SANTA FE,Tijuana,Mexico","(Santa Fe, Villa Residencial Santa Fe 1ra Secc...","(32.4472379, -117.0420699, 0.0)",32.447238,-117.042070,0.0
80,ANEXA 20 DE NOVIEMBRE,118,"ANEXA 20 DE NOVIEMBRE,Tijuana,Mexico",None,None,NaN,NaN,NaN
81,OTAY CONSTITUYENTES,118,"OTAY CONSTITUYENTES,Tijuana,Mexico","(Otay Constituyentes, Misiones de Pedregal Fra...","(32.5293228, -116.9466581, 0.0)",32.529323,-116.946658,0.0
82,VILLA FONTANA,116,"VILLA FONTANA,Tijuana,Mexico","(Villa Fontana, El Dorado, Valle Verde, Tijuan...","(32.5065109, -116.8719097, 0.0)",32.506511,-116.871910,0.0
83,TOMAS AQUINO,114,"TOMAS AQUINO,Tijuana,Mexico","(Tomas Aquino, Tijuana, Municipio de Tijuana, ...","(32.52836235, -116.98609895776369, 0.0)",32.528362,-116.986099,0.0
84,LAS DELICIAS III,110,"LAS DELICIAS III,Tijuana,Mexico","(Las Delicias, Municipio de Tijuana, Baja Cali...","(32.4059884, -116.9413012, 0.0)",32.405988,-116.941301,0.0
85,AGUAJE DE LA TUNA PRIMERA SECCION,109,"AGUAJE DE LA TUNA PRIMERA SECCION,Tijuana,Mexico",None,None,NaN,NaN,NaN
86,SAN LUIS,109,"SAN LUIS,Tijuana,Mexico","(San Luis, Municipio de Tijuana, Baja Californ...","(32.4285403, -116.9543611, 0.0)",32.428540,-116.954361,0.0
87,VILLA DEL CAMPO,108,"VILLA DEL CAMPO,Tijuana,Mexico","(Villa del Campo, Municipio de Tijuana, Baja C...","(32.5081727, -116.7365324, 0.0)",32.508173,-116.736532,0.0
88,PLAYAS DE TIJUANA,108,"PLAYAS DE TIJUANA,Tijuana,Mexico","(Playas de Tijuana, Calle Colima, Playas de Ti...","(32.531755, -117.116418, 0.0)",32.531755,-117.116418,0.0
89,LA CIENEGA,108,"LA CIENEGA,Tijuana,Mexico","(La Ciénega, El Porvenir, Tijuana, Municipio d...","(32.4882194, -116.9391823, 0.0)",32.488219,-116.939182,0.0
90,LOMAS DE LA PRESA,106,"LOMAS DE LA PRESA,Tijuana,Mexico",None,None,NaN,NaN,NaN
91,JARDINES DE LA MESA,106,"JARDINES DE LA MESA,Tijuana,Mexico","(Jardines, Calle Mar De Cortés, Constitución d...","(32.49016, -116.922158, 0.0)",32.490160,-116.922158,0.0
92,LIBERTAD PARTE BAJA,105,"LIBERTAD PARTE BAJA,Tijuana,Mexico","(Cañón Johnson Sur Parte Baja, Cima, Tijuana, ...","(32.5042674, -117.0437694, 0.0)",32.504267,-117.043769,0.0
93,POBLADO EJIDO MATAMOROS,105,"POBLADO EJIDO MATAMOROS,Tijuana,Mexico",None,None,NaN,NaN,NaN
94,HACIENDA LAS FUENTES,104,"HACIENDA LAS FUENTES,Tijuana,Mexico",None,None,NaN,NaN,NaN
95,LOS LOBOS,102,"LOS LOBOS,Tijuana,Mexico",None,None,NaN,NaN,NaN
96,VILLAS DE BAJA CALIFORNIA,101,"VILLAS DE BAJA CALIFORNIA,Tijuana,Mexico","(Hyspan de México, Privada Villas de San Anton...","(32.476142, -117.03845768130552, 0.0)",32.476142,-117.038458,0.0
97,CIUDAD JARDIN,101,"CIUDAD JARDIN,Tijuana,Mexico","(Ciudad Jardín, Tijuana, Municipio de Tijuana,...","(32.5117637, -117.063674, 0.0)",32.511764,-117.063674,0.0
98,ALTAMIRA,100,"ALTAMIRA,Tijuana,Mexico","(Lima, Francisco Villa, Tijuana, Municipio de ...","(32.5246529, -117.0541656, 0.0)",32.524653,-117.054166,0.0
99,GUADALUPE VICTORIA,97,"GUADALUPE VICTORIA,Tijuana,Mexico","(Guadalupe Victoria, El Porvenir, Tijuana, Mun...","(32.4504293, -116.9448468, 0.0)",32.450429,-116.944847,0.0
100,ALEMAN,96,"ALEMAN,Tijuana,Mexico","(Xicotencatl Leyva Alemán, Tijuana, Municipio ...","(32.5197707, -117.0996153, 0.0)",32.519771,-117.099615,0.0
101,CAMPOS,94,"CAMPOS,Tijuana,Mexico","(Campos de Baseball Otay, Misiones de Pedregal...","(32.536840549999994, -116.9461553311748, 0.0)",32.536841,-116.946155,0.0

Putting manually the coordinates that geopy couldn't find

In [154]:
NEIGHBORHOOD_MORE_VIOLENCE.at[5, 'latitude'] = 32.4655 #El Florido 1ra y 2da Secc 
NEIGHBORHOOD_MORE_VIOLENCE.at[5, 'longitude'] = -116.8748

NEIGHBORHOOD_MORE_VIOLENCE.at[8, 'latitude'] = 32.5067 #RIO TIJUANA TERCERA ETAPA
NEIGHBORHOOD_MORE_VIOLENCE.at[8, 'longitude'] = -116.9411

NEIGHBORHOOD_MORE_VIOLENCE.at[10, 'latitude'] = 32.516285 #EJIDO FRANCISCO VILLA
NEIGHBORHOOD_MORE_VIOLENCE.at[10, 'longitude'] = -116.895486

NEIGHBORHOOD_MORE_VIOLENCE.at[24, 'latitude'] = 32.5070 #BUENOS AIRES SUR 
NEIGHBORHOOD_MORE_VIOLENCE.at[24, 'longitude'] = -116.8940

NEIGHBORHOOD_MORE_VIOLENCE.at[26, 'latitude'] = 32.4070 #FRACC HCDA LAS DELICIAS
NEIGHBORHOOD_MORE_VIOLENCE.at[26, 'longitude'] = -116.9411

NEIGHBORHOOD_MORE_VIOLENCE.at[30, 'latitude'] = 32.5171 #BUENOS AIRES NORTE
NEIGHBORHOOD_MORE_VIOLENCE.at[30, 'longitude'] = -116.9013

NEIGHBORHOOD_MORE_VIOLENCE.at[32, 'latitude'] = 32.4651 #Anexa loma dorada
NEIGHBORHOOD_MORE_VIOLENCE.at[32, 'longitude'] = -116.9466

NEIGHBORHOOD_MORE_VIOLENCE.at[33, 'latitude'] = 32.4936 #PEDREGAL DE SANTA JULIA 
NEIGHBORHOOD_MORE_VIOLENCE.at[33, 'longitude'] = -117.0603

NEIGHBORHOOD_MORE_VIOLENCE.at[36, 'latitude'] = 32.5235 #CAMPESTRE MURUA
NEIGHBORHOOD_MORE_VIOLENCE.at[36, 'longitude'] = -116.9308

NEIGHBORHOOD_MORE_VIOLENCE.at[41, 'latitude'] = 32.5415 #10 de mayo
NEIGHBORHOOD_MORE_VIOLENCE.at[41, 'longitude'] = -116.8866

NEIGHBORHOOD_MORE_VIOLENCE.at[42, 'latitude'] = 32.4955 #BAJA MAQ. EL AGUILA
NEIGHBORHOOD_MORE_VIOLENCE.at[42, 'longitude'] = -116.9043

NEIGHBORHOOD_MORE_VIOLENCE.at[53, 'latitude'] = 32.5106 #LOS SANTOS
NEIGHBORHOOD_MORE_VIOLENCE.at[53, 'longitude'] = -116.9668

NEIGHBORHOOD_MORE_VIOLENCE.at[54, 'latitude'] = 32.4078 #URBIVILLA DEL PRADO  
NEIGHBORHOOD_MORE_VIOLENCE.at[54, 'longitude'] = -116.9661

NEIGHBORHOOD_MORE_VIOLENCE.at[60, 'latitude'] = 32.4229#URBIVILLA DEL PRADO 2  
NEIGHBORHOOD_MORE_VIOLENCE.at[60, 'longitude'] = -116.9691

NEIGHBORHOOD_MORE_VIOLENCE.at[62, 'latitude'] = 31.7272 #SECCION JARDINES PLAYAS DE TIJUANA
NEIGHBORHOOD_MORE_VIOLENCE.at[62, 'longitude'] = -116.0175

NEIGHBORHOOD_MORE_VIOLENCE.at[65, 'latitude'] = 32.5130 #Villa del real I
NEIGHBORHOOD_MORE_VIOLENCE.at[65, 'longitude'] = -116.8594

NEIGHBORHOOD_MORE_VIOLENCE.at[70, 'latitude'] = 32.4567 #LOS REYES
NEIGHBORHOOD_MORE_VIOLENCE.at[70, 'longitude'] = -116.9249

NEIGHBORHOOD_MORE_VIOLENCE.at[71, 'latitude'] = 32.4643 #CAÑADAS DEL FLORIDO 
NEIGHBORHOOD_MORE_VIOLENCE.at[71, 'longitude'] = -116.8572

NEIGHBORHOOD_MORE_VIOLENCE.at[72, 'latitude'] = 32.4350 #EJIDO LAZARO CARDENAS 
NEIGHBORHOOD_MORE_VIOLENCE.at[72, 'longitude'] = -117.0073

NEIGHBORHOOD_MORE_VIOLENCE.at[75, 'latitude'] = 32.5147 #LOMAS DEL MATAMOROS
NEIGHBORHOOD_MORE_VIOLENCE.at[75, 'longitude'] = -116.8778

NEIGHBORHOOD_MORE_VIOLENCE.at[77, 'latitude'] = 32.5124#Residencial del bosque
NEIGHBORHOOD_MORE_VIOLENCE.at[77, 'longitude'] = -116.8307

NEIGHBORHOOD_MORE_VIOLENCE.at[80, 'latitude'] = 32.5134 #Anexa 20 de Noviembre
NEIGHBORHOOD_MORE_VIOLENCE.at[80, 'longitude'] = -116.9830

NEIGHBORHOOD_MORE_VIOLENCE.at[85, 'latitude'] = 32.4762 #Aguaje de la Tuna
NEIGHBORHOOD_MORE_VIOLENCE.at[85, 'longitude'] = -117.0081

NEIGHBORHOOD_MORE_VIOLENCE.at[90, 'latitude'] = 32.4488 #LOMAS DE LA PRESA
NEIGHBORHOOD_MORE_VIOLENCE.at[90, 'longitude'] = -116.9249

NEIGHBORHOOD_MORE_VIOLENCE.at[93, 'latitude'] = 32.5180 #POBLADO EJIDO MATAMOROS  
NEIGHBORHOOD_MORE_VIOLENCE.at[93, 'longitude'] = -116.8550

NEIGHBORHOOD_MORE_VIOLENCE.at[95, 'latitude'] = 32.5026 #LOS LOBOS 
NEIGHBORHOOD_MORE_VIOLENCE.at[95, 'longitude'] = -116.8991

#colonias_mas_violentas3.at[62, 'latitude'] = 32.4827 #JARDINES DEL RUBI 
#colonias_mas_violentas3.at[62, 'longitude'] = -117.0279

#colonias_mas_violentas3.at[77, 'latitude'] = 32.5203 #INFONAVIT LOMAS DEL PORVENIR 
#colonias_mas_violentas3.at[77, 'longitude'] = -117.0691

#colonias_mas_violentas3.at[86, 'latitude'] = 32.5120 #SECCION COSTA HERMOSA 
#colonias_mas_violentas3.at[86, 'longitude'] = -117.1162

#colonias_mas_violentas3.at[90, 'latitude'] = 32.4856 #RESIDENCIAL AGUA CALIENTE
#colonias_mas_violentas3.at[90, 'longitude'] = -116.9926

In [157]:
NEIGHBORHOOD_MORE_VIOLENCE = NEIGHBORHOOD_MORE_VIOLENCE.drop([20], axis=0) #Foranea
NEIGHBORHOOD_MORE_VIOLENCE = NEIGHBORHOOD_MORE_VIOLENCE.drop([94], axis=0) #HACIENDA LAS FUENTES

In [158]:
NEIGHBORHOOD_MORE_VIOLENCE  = NEIGHBORHOOD_MORE_VIOLENCE.reset_index()
del NEIGHBORHOOD_MORE_VIOLENCE['index']

In [161]:
NEIGHBORHOOD_MORE_VIOLENCE.tail()

,NEIGHBORHOOD_OF_THE_CRIME,counts,ADDRESS,location,point,latitude,longitude,altitude
95,CIUDAD JARDIN,101,"CIUDAD JARDIN,Tijuana,Mexico","(Ciudad Jardín, Tijuana, Municipio de Tijuana,...","(32.5117637, -117.063674, 0.0)",32.511764,-117.063674,0.0
96,ALTAMIRA,100,"ALTAMIRA,Tijuana,Mexico","(Lima, Francisco Villa, Tijuana, Municipio de ...","(32.5246529, -117.0541656, 0.0)",32.524653,-117.054166,0.0
97,GUADALUPE VICTORIA,97,"GUADALUPE VICTORIA,Tijuana,Mexico","(Guadalupe Victoria, El Porvenir, Tijuana, Mun...","(32.4504293, -116.9448468, 0.0)",32.450429,-116.944847,0.0
98,ALEMAN,96,"ALEMAN,Tijuana,Mexico","(Xicotencatl Leyva Alemán, Tijuana, Municipio ...","(32.5197707, -117.0996153, 0.0)",32.519771,-117.099615,0.0
99,CAMPOS,94,"CAMPOS,Tijuana,Mexico","(Campos de Baseball Otay, Misiones de Pedregal...","(32.536840549999994, -116.9461553311748, 0.0)",32.536841,-116.946155,0.0

In [162]:
NEIGHBORHOOD_MORE_VIOLENCE = NEIGHBORHOOD_MORE_VIOLENCE.drop(NEIGHBORHOOD_MORE_VIOLENCE.columns[[7]], axis=1) 
NEIGHBORHOOD_MORE_VIOLENCE = NEIGHBORHOOD_MORE_VIOLENCE.drop(NEIGHBORHOOD_MORE_VIOLENCE.columns[[4]], axis=1)

In [164]:
NEIGHBORHOOD_MORE_VIOLENCE.head()

,NEIGHBORHOOD_OF_THE_CRIME,counts,ADDRESS,location,latitude,longitude
0,ZONA CENTRO,1502,"ZONA CENTRO,Tijuana,Mexico","(Zona Centro, Tijuana, Municipio de Tijuana, B...",32.532928,-117.036843
1,MARIANO MATAMOROS,1033,"MARIANO MATAMOROS,Tijuana,Mexico","(Mariano Matamoros, SN, Calle Alicante, Otay C...",32.513355,-116.945469
2,ZONA URBANA RIO TIJUANA,863,"ZONA URBANA RIO TIJUANA,Tijuana,Mexico","(Zona Urbana Río Tijuana, Tijuana, Municipio d...",32.529637,-117.019868
3,CAMINO VERDE,544,"CAMINO VERDE,Tijuana,Mexico","(Mexico, SN, Avenida Melchor Ocampo, Ejido Mat...",32.516067,-116.858502
4,MARIANO MATAMOROS NORTE,500,"MARIANO MATAMOROS NORTE,Tijuana,Mexico","(Mariano Matamoros, SN, Calle Alicante, Otay C...",32.513355,-116.945469

In [165]:
NEIGHBORHOOD_MORE_VIOLENCE.to_csv("100_NEIGHBORHOOD_MORE_VIOLENT_Counts_Crimes_with_coordinates_tijuana_from_2014_to_2019.csv", index=False)

# CRIME CLASSIFICATION NEIGHBORHOODS WITH MORE VIOLENCE

In [166]:
NEIGHBORHOOD_MORE_VIOLENCE =test4.merge(NEIGHBORHOOD_MORE_VIOLENCE,indicator=True,how='left')

NEIGHBORHOOD_MORE_VIOLENCE._merge=NEIGHBORHOOD_MORE_VIOLENCE._merge.eq('both')

In [167]:
NEIGHBORHOOD_MORE_VIOLENCE.head()

,CRIME_CLASSIFICATION,NEIGHBORHOOD_OF_THE_CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour,counts,ADDRESS,location,latitude,longitude,_merge
0,VEHICLE THEFT,VILLA DEL REAL III,01/01/19,19:00,TIJUANA,2018-12-31,Monday,2018,12,31,19.0,NaN,NaN,NaN,NaN,NaN,False
1,RESIDENTIAL BURGLARY,LOMAS DE LA AMISTAD,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,NaN,NaN,NaN,NaN,NaN,False
2,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,195.0,"3 DE OCTUBRE,Tijuana,Mexico","(3 de Octubre, El Porvenir, Tijuana, Municipio...",32.460409,-116.947183,True
3,VEHICLE THEFT,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,137.0,"EMPERADORES,Tijuana,Mexico","(Emperadores, Misiones de Pedregal Fraccionami...",32.486404,-116.966379,True
4,UNLAWFUL WOUNDING,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0,120.0,"RESIDENCIAL DEL BOSQUE,Tijuana,Mexico",None,32.512400,-116.830700,True

In [168]:
NEIGHBORHOOD_MORE_VIOLENCE.shape

(136082, 17)

In [169]:
NEIGHBORHOOD_MORE_VIOLENCE.dropna(subset=["counts"], axis=0, inplace=True)

In [170]:
NEIGHBORHOOD_MORE_VIOLENCE.shape

(70296, 17)

In [171]:
NEIGHBORHOOD_MORE_VIOLENCE = NEIGHBORHOOD_MORE_VIOLENCE.reset_index()
del NEIGHBORHOOD_MORE_VIOLENCE['index']

In [172]:
NEIGHBORHOOD_MORE_VIOLENCE.head()

,CRIME_CLASSIFICATION,NEIGHBORHOOD_OF_THE_CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour,counts,ADDRESS,location,latitude,longitude,_merge
0,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,195.0,"3 DE OCTUBRE,Tijuana,Mexico","(3 de Octubre, El Porvenir, Tijuana, Municipio...",32.460409,-116.947183,True
1,VEHICLE THEFT,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,137.0,"EMPERADORES,Tijuana,Mexico","(Emperadores, Misiones de Pedregal Fraccionami...",32.486404,-116.966379,True
2,UNLAWFUL WOUNDING,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0,120.0,"RESIDENCIAL DEL BOSQUE,Tijuana,Mexico",None,32.512400,-116.830700,True
3,HOMICIDE(VIOLENT),SANCHEZ TABOADA,01/01/19,01:25,TIJUANA,2019-01-01,Tuesday,2019,1,1,1.0,376.0,"SANCHEZ TABOADA,Tijuana,Mexico","(Del. Sanchez Taboada, La Joya, Municipio de T...",32.458767,-117.003325,True
4,VEHICLE THEFT,EL LAGO,17/01/19,07:33,TIJUANA,2019-01-17,Thursday,2019,1,17,7.0,270.0,"EL LAGO,Tijuana,Mexico","(Canalización, Calle Vía Rápida Poniente, Cons...",32.513839,-116.968790,True

In [173]:
NEIGHBORHOOD_MORE_VIOLENCE = NEIGHBORHOOD_MORE_VIOLENCE.drop(NEIGHBORHOOD_MORE_VIOLENCE.columns[[16]], axis=1) 
NEIGHBORHOOD_MORE_VIOLENCE.head()

,CRIME_CLASSIFICATION,NEIGHBORHOOD_OF_THE_CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour,counts,ADDRESS,location,latitude,longitude
0,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,195.0,"3 DE OCTUBRE,Tijuana,Mexico","(3 de Octubre, El Porvenir, Tijuana, Municipio...",32.460409,-116.947183
1,VEHICLE THEFT,EMPERADORES,01/01/19,02:00,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,137.0,"EMPERADORES,Tijuana,Mexico","(Emperadores, Misiones de Pedregal Fraccionami...",32.486404,-116.966379
2,UNLAWFUL WOUNDING,RESIDENCIAL DEL BOSQUE,01/01/19,23:21,TIJUANA,2018-12-31,Monday,2018,12,31,23.0,120.0,"RESIDENCIAL DEL BOSQUE,Tijuana,Mexico",None,32.512400,-116.830700
3,HOMICIDE(VIOLENT),SANCHEZ TABOADA,01/01/19,01:25,TIJUANA,2019-01-01,Tuesday,2019,1,1,1.0,376.0,"SANCHEZ TABOADA,Tijuana,Mexico","(Del. Sanchez Taboada, La Joya, Municipio de T...",32.458767,-117.003325
4,VEHICLE THEFT,EL LAGO,17/01/19,07:33,TIJUANA,2019-01-17,Thursday,2019,1,17,7.0,270.0,"EL LAGO,Tijuana,Mexico","(Canalización, Calle Vía Rápida Poniente, Cons...",32.513839,-116.968790

In [174]:
missing_data = NEIGHBORHOOD_MORE_VIOLENCE.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

CRIME_CLASSIFICATION
False    70296
Name: CRIME_CLASSIFICATION, dtype: int64

NEIGHBORHOOD_OF_THE_CRIME
False    70296
Name: NEIGHBORHOOD_OF_THE_CRIME, dtype: int64

DATE OF RECORD OF THE CRIME
False    70296
Name: DATE OF RECORD OF THE CRIME, dtype: int64

TIME OF THE CRIME
False    70296
Name: TIME OF THE CRIME, dtype: int64

MUNICIPIO
False    70296
Name: MUNICIPIO, dtype: int64

DATE OF THE CRIME
False    70296
Name: DATE OF THE CRIME, dtype: int64

day_of_week
False    70296
Name: day_of_week, dtype: int64

year
False    70296
Name: year, dtype: int64

month
False    70296
Name: month, dtype: int64

day
False    70296
Name: day, dtype: int64

Hour
False    70296
Name: Hour, dtype: int64

counts
False    70296
Name: counts, dtype: int64

ADDRESS
False    70296
Name: ADDRESS, dtype: int64

location
False    56029
True     14267
Name: location, dtype: int64

latitude
False    70296
Name: latitude, dtype: int64

longitude
False    70296
Name: longitude, dtype: int64

In [175]:
NEIGHBORHOOD_MORE_VIOLENCE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70296 entries, 0 to 70295
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CRIME_CLASSIFICATION         70296 non-null  object
 1   NEIGHBORHOOD_OF_THE_CRIME    70296 non-null  object
 2   DATE OF RECORD OF THE CRIME  70296 non-null  object
 3   TIME OF THE CRIME            70296 non-null  object
 4   MUNICIPIO                    70296 non-null  object
 5   DATE OF THE CRIME            70296 non-null  object
 6   day_of_week                  70296 non-null  object
 7   year                         70296 non-null  int64
 8   month                        70296 non-null  int64
 9   day                          70296 non-null  int64
 10  Hour                         70296 non-null  float64
 11  counts                       70296 non-null  float64
 12  ADDRESS                      70296 non-null  object
 13  location                     56029 non-null  object
 14  latitude                     70296 non-null  float64
 15  longitude                    70296 non-null  float64
dtypes: float64(4), int64(3), object(9)
memory usage: 8.6+ MB

In [176]:
NEIGHBORHOOD_MORE_VIOLENCE.to_csv("CRIME_CLASSIFICATION_NEIGHBORHOOD_MORE_VIOLENCE_coordinates_Tijuana_2014_to_2019.csv", index=False)

In [177]:
df_Violence2 = NEIGHBORHOOD_MORE_VIOLENCE[(NEIGHBORHOOD_MORE_VIOLENCE.CRIME_CLASSIFICATION.str.contains('WITH VIOLENCE'))| (NEIGHBORHOOD_MORE_VIOLENCE.CRIME_CLASSIFICATION.str.contains('VIOLENT')) | (NEIGHBORHOOD_MORE_VIOLENCE.CRIME_CLASSIFICATION.str.contains('MALICIOUS WOUNDING'))]
df_Violence2.head()

,CRIME_CLASSIFICATION,NEIGHBORHOOD_OF_THE_CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour,counts,ADDRESS,location,latitude,longitude
0,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,195.0,"3 DE OCTUBRE,Tijuana,Mexico","(3 de Octubre, El Porvenir, Tijuana, Municipio...",32.460409,-116.947183
3,HOMICIDE(VIOLENT),SANCHEZ TABOADA,01/01/19,01:25,TIJUANA,2019-01-01,Tuesday,2019,1,1,1.0,376.0,"SANCHEZ TABOADA,Tijuana,Mexico","(Del. Sanchez Taboada, La Joya, Municipio de T...",32.458767,-117.003325
7,HOMICIDE(VIOLENT),3 DE OCTUBRE,06/01/19,20:41,TIJUANA,2019-05-01,Wednesday,2019,5,1,20.0,195.0,"3 DE OCTUBRE,Tijuana,Mexico","(3 de Octubre, El Porvenir, Tijuana, Municipio...",32.460409,-116.947183
8,THEFT WITH VIOLENCE(IN PUBLIC AREAS),RIO TIJUANA TERCERA ETAPA,02/01/19,21:05,TIJUANA,2019-02-01,Friday,2019,2,1,21.0,471.0,"RIO TIJUANA TERCERA ETAPA,Tijuana,Mexico",None,32.506700,-116.941100
9,THEFT WITH VIOLENCE TO A BUSINESS,RIO TIJUANA TERCERA ETAPA,05/01/19,17:55,TIJUANA,2019-05-01,Wednesday,2019,5,1,17.0,471.0,"RIO TIJUANA TERCERA ETAPA,Tijuana,Mexico",None,32.506700,-116.941100

In [178]:
df_Violence2.shape

(23339, 16)

In [179]:
dfViolence2 = df_Violence.dropna()
dfViolence2.isnull().sum().sum()

0

In [180]:
df_Violence2 = df_Violence2.reset_index()
del df_Violence2['index']

In [181]:
df_Violence2.head()

,CRIME_CLASSIFICATION,NEIGHBORHOOD_OF_THE_CRIME,DATE OF RECORD OF THE CRIME,TIME OF THE CRIME,MUNICIPIO,DATE OF THE CRIME,day_of_week,year,month,day,Hour,counts,ADDRESS,location,latitude,longitude
0,THEFT WITH VIOLENCE(IN PUBLIC AREAS),3 DE OCTUBRE,01/01/19,02:39,TIJUANA,2019-01-01,Tuesday,2019,1,1,2.0,195.0,"3 DE OCTUBRE,Tijuana,Mexico","(3 de Octubre, El Porvenir, Tijuana, Municipio...",32.460409,-116.947183
1,HOMICIDE(VIOLENT),SANCHEZ TABOADA,01/01/19,01:25,TIJUANA,2019-01-01,Tuesday,2019,1,1,1.0,376.0,"SANCHEZ TABOADA,Tijuana,Mexico","(Del. Sanchez Taboada, La Joya, Municipio de T...",32.458767,-117.003325
2,HOMICIDE(VIOLENT),3 DE OCTUBRE,06/01/19,20:41,TIJUANA,2019-05-01,Wednesday,2019,5,1,20.0,195.0,"3 DE OCTUBRE,Tijuana,Mexico","(3 de Octubre, El Porvenir, Tijuana, Municipio...",32.460409,-116.947183
3,THEFT WITH VIOLENCE(IN PUBLIC AREAS),RIO TIJUANA TERCERA ETAPA,02/01/19,21:05,TIJUANA,2019-02-01,Friday,2019,2,1,21.0,471.0,"RIO TIJUANA TERCERA ETAPA,Tijuana,Mexico",None,32.506700,-116.941100
4,THEFT WITH VIOLENCE TO A BUSINESS,RIO TIJUANA TERCERA ETAPA,05/01/19,17:55,TIJUANA,2019-05-01,Wednesday,2019,5,1,17.0,471.0,"RIO TIJUANA TERCERA ETAPA,Tijuana,Mexico",None,32.506700,-116.941100

In [182]:
df_Violence2.to_csv("NEIGHBORHOOD_Violente_Crimes_coordinates_Tijuana_2014_to_2019.csv", index=False)